[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests-mock = ">=1.5.2"
pandas = ">=0.24.2"
gamebench-api-client = {editable = true,path = "."}
coverage = ">=4.5.3"
recommonmark = "*"
gamebench-api-client-big-fish = {editable = true,path = "."}
urllib3 = ">=1.24.2,<1.25"

[requires]
python_version = "3.7"
